<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_product.user %>
</p>

<p>
  <strong>Productdescription:</strong>
  <%= @user_product.productdescription %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @user_product.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @user_product.price %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @user_product.weight %>
</p>

<%= link_to 'Edit', edit_user_product_path(@user_product) %> |
<%= link_to 'Back', user_products_path %>
