<nav class="navbar navbar-default navbar-static-top" ">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>



      <div class="container brand_description">
    <ul>
  <div class="col-xs-12 col-md-4 ">
      <li class="brand_navbar">
              <a  href="<%= root_path %>">
              <br>
              <img class="col-md-2"><a class="root" href="<%= root_path %>"> <%= image_tag "/lunadequeso.png", height: '140px' , widhth: '113px'%>
              <br>
              <span class="title"><strong>Luna de vaca</strong> </span>

                  
                </a>
            </li>

    
  </div>  

  <div class="col-md-8 list_navbar">         
      <div class="col-xs-12 col-md-3">
        <li>
                <a href="#">
                    <span class="title"><strong>Productores</strong> </span>
                       <br>
                    <span class="description">Quality not quantity, an adage we've lived by for 30 years now.</span>
                </a>
            </li>
        
      </div>  


      <div class="col-xs-12 col-md-3">
            <li>
                <a href="#">
                    <span class="title"><strong>Comprar</strong> </span>
                       <br>
                    <span class="description">Buy our award-winning wines online, read the tasting and technical notes.</span>
                  </a>
            </li> 
        
      </div>  


      
      <div class="col-xs-12 col-md-3">
        <li>
                <a href="#">
                    <span class="title"><strong>Noticias</strong></span>
                       <br>
                    <span class="description">Latest happenings from the winery and our wine club.</span>
                  </a>
           </li>  
        
      </div>  

      <div class="col-xs-12 col-md-3">
         <li>
                <a href="#">
                    <span class="title"><strong>Visitanos</strong></span>
                      <br>
                    <span class="description">Our award winning native garden, artists residence and cellar door.</span>
                  </a>
           </li>
      </div>  

  </div>
    
</ul>     
      </div>
      </div>


    </div>

    </div>
    <div class="collapse navbar-collapse size-top" id="bs-example-navbar-collapse-1">

        <ul  class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Quesos<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Fresco</a></li>
            <li><a href="#">Tierno</a></li>
            <li><a href="#">Curado y Semicurado</a></li>
            <li><a href="#">Viejo</a></li>
            <li><a href="#">Añejo</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Nuestros ranchos</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Sucursales</a></li>
          </ul>
        </li>
             <% if user_signed_in? %>
             <li class="position_session"  > <a href="<%= destroy_user_session_path %>" data-method='delete'>
             Salir
             </a></li>
             <% else %>
                       <li  class="position_session" ><a href="<%= new_user_session_path %>"> Entrar </a></li>

             <% end %>
             <% if user_signed_in? %>
 <li> <a href="#"> <%= link_to image_tag(current_user.image) user_products%> </a> </li>
 <li> <a href="<%= destroy_user_session_path %>" data-method="delete">Salir </a></li>
<% end %>



      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


